<section class="add-inventory">
  <h1>Add New Vehicle</h1>

  <% if (messages.error) { %>
    <div class="flash error"><%= messages.error %></div>
  <% } %>

  <% if (messages.success) { %>
    <div class="flash success"><%= messages.success %></div>
  <% } %>

  <form action="/inv/add-inventory" method="post">

    <label>Classification</label>
    <%- classificationList %>

    <label>Make</label>
    <input type="text" name="inv_make" required value="<%= inv_make || '' %>">

    <label>Model</label>
    <input type="text" name="inv_model" required value="<%= inv_model || '' %>">

    <label>Year</label>
    <input type="number" name="inv_year" required value="<%= inv_year || '' %>">

    <label>Description</label>
    <textarea name="inv_description" required><%= inv_description || '' %></textarea>

    <label>Image Path</label>
    <input type="text" name="inv_image"
      value="/images/vehicles/no-image.png" required>

    <label>Thumbnail Path</label>
    <input type="text" name="inv_thumbnail"
      value="/images/vehicles/no-image-tn.png" required>

    <label>Price</label>
    <input type="number" name="inv_price" required value="<%= inv_price || '' %>">

    <label>Miles</label>
    <input type="number" name="inv_miles" required value="<%= inv_miles || '' %>">

    <label>Color</label>
    <input type="text" name="inv_color" required value="<%= inv_color || '' %>">

    <button type="submit">Add Vehicle</button>
  </form>
</section>